@model List<DiaryEntry>


<div class="row mt-4 mb-2">
    <div class="col">
        <a type="button"
           asp-area=""
           asp-controller="DiaryEntries"
           asp-action="NewEntry"
           class="btn btn-primary btn-lg">
            Add Diary Entry
            <i class="bi bi-pencil-square"></i>
        </a>
    </div>
    <div class="col text-end"><h2>Dairy Entries</h2></div>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
                <th scope="col">Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model)
            {
                <tr>
                    <td>@entry.Title</td>
                    <td>@entry.Content</td>
                    <td>@entry.Created.ToString("dd MMM yyyy")</td>
                    <td>Edit and Delete!</td>
                </tr>
            }
        </tbody>
    </table>
</div>